.article {
  display: inline-block;
  max-width: 414px;
  background-color: $white;
  border-radius: 8px;
  margin: 0 0 40px 0;
  text-align: left;

  &_big {
    max-width: 100%;
    margin: 0 0 20px 0;
  }

  &__img_wrapper {
    width: 100%;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
  }

  &__publications-entry {
    border-radius: 12px;
  }

  &__img {
    transition: 0.8s;

    &:hover {
      transform: scale(1.1);
    }
  }

  .hidden {
    display: none;
  }

  &__content {
    padding: 20px;
  }

  &__heading {
    @include font-style(18px, 21px, $ActiveBlue, 500);
    margin: 0 0 10px;

    &:hover {
      color: $AccentRed;
    }

    &_big {
      @include font-style(32px, 38px, $TextBlue, 500);
    }
  }

  &__date {
    display: inline-block;
    @include font-style(12px, 14px, $TextGrey, 500);
    text-transform: uppercase;
    margin: 0 0 20px 0;
  }

  &__text-wrapper {
    @include border-top-separate;
    padding: 20px 0 0 0;
  }

  &__text-item {
    @include font-style(16px, 22px, $black, 500);

    &_big {
      @include font-style(18px, 26px, $black, 500);
    }
  }
}


@media (max-width: 1009px) {
  .article__content_big {
    padding: 20px 40px;
  }
}

@media (max-width: 649px) {
  .article {
    margin: 0 0 20px 0;

    &__heading {
      margin: 0 0 7px 0;

      &_big {
        @include font-style(21px, 26px, $TextBlue, 500);
      }
    }

    &__wrapper {
      margin: 0 0 20px 0;
    }

    &__content {
      padding: 17px 20px 17px;
    }

    &__date {
      margin: 0;
    }

    &__text-wrapper_mobile {
      display: none;

      &-big {
        display: block;
      }

    }
  }
}