@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import "../../assets/scss/_reset.scss";
@import "../../assets/scss/_assets";
@import "../common-components/header/_main.scss";
@import "../common-components/article/_main";
@import "../common-components/publications-comp/main";
@import "../common-components/footer/_main.scss";

.page__wrapper {
  min-width: 320px;
  max-width: 1600px;
  margin: 0 auto;
  background-color: $white;
}

.header__wrapper {
  margin: 0 0 80px;
}

.publication {
  max-width: 909px;
  margin: 0 auto;

  &__heading {
    @include font-style(41px, 50px, $AccentRed, 600);
    @include GradientTextRed;
    margin: 0 0 40px;
  }

  &__main-content {
    padding: 0 20px;

    ol {
      padding: 0 0 0 30px;
      margin: 0 0 25px;

      li {
        @include font-style(16px, 26px, $AccentRed, 400);
        margin: 0 0 20px;

        span {
          color: $black;
        }
      }
    }
  }

  &__img {
    margin: 0 auto 15px;
  }

  &__img-caption {
    @include font-style(13px, 22px, $TextGrey, 400);
    text-align: center;
    margin: 0 0 40px;
  }

  &__sub-heading {
    @include font-style(23px, 28px, $TextBlue, 600);
    margin: 0 0 20px;
  }

  &__text {
    @include font-style(18px, 26px, $black, 500);
    margin: 0 0 40px;
  }

  &__social {
    border-top: 4px solid $SeparatorGrey;
    padding: 20px 0 60px;

    span {
      display: inline-block;
      background: $BgGrey;
      padding: 9px;
      border-radius: 12px;
      margin: 0 10px 0 0;
    }
  }
}

@media (max-width: 1009px) {
  .header__wrapper {
    margin: 0 0 20px;
  }

  .publication {
    &__heading {
      padding: 0 20px;
    }

    &__main-content {
      padding: 0 40px;
    }
  }
}

@media (max-width: 649px) {
  .article__wrapper {
    margin: 0;
  }

  .publication {

    &__heading {
      @include font-style(30px, 37px, $AccentRed, 600);
    }

    &__main-content {
      padding: 0 20px;
    }

    &__social {
      text-align: center;
      padding: 20px 0 40px;
    }

    &__img {
      margin: -20px auto 15px;
    }

    &__img-caption {
      margin: 0 0 20px;
    }
  }
}
