@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration: none;
}

a:-webkit-any-link {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
  width: unset;
  height: unset;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 50px 60px 0 60px;
}

.header__mobile, .header__tablet {
  display: none;
}

.header__href-homepage {
  cursor: pointer;
}

.contacts__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 12px 0;
}

.contacts__lang {
  margin: 0 20px 6px 0;
}

.contacts__lang span {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  font-weight: 700;
  padding: 5px 6px;
}

.contacts__lang span:hover, .contacts__lang span:first-child {
  background: #F0145A;
  border-radius: 8px;
  cursor: pointer;
}

.contacts__lang-gray span {
  color: #B3B3BA;
  border-radius: 8px;
}

.contacts__lang-gray span:first-child {
  background: #F0145A;
  cursor: pointer;
}

.contacts__lang-gray span:hover {
  background: #EDEDF7;
}

.contacts__address {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  font-weight: 400;
}

.contacts__address-gray {
  color: #B3B3BA;
}

.contacts__phone {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  font-weight: 700;
}

.contacts__phone-gray {
  color: #B3B3BA;
}

.contacts__facebook::before {
  display: inline-block;
  content: "";
  margin: 0 10px 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #ffffff;
}

.contacts__facebook svg path:hover {
  fill: #F0145A;
  cursor: pointer;
}

.contacts__facebook-gray::before {
  display: inline-block;
  content: "";
  margin: 0 10px 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #B3B3BA;
}

.contacts__facebook-gray svg path {
  fill: #B3B3BA;
}

.contacts__facebook-gray svg path:hover {
  fill: #24A3FF;
}

.contacts__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 600;
}

.contacts__nav .nav__active {
  border-bottom: 3px solid #ffffff;
}

.contacts__nav a {
  margin: 0 0 0 15px;
  -webkit-transition: 6ms;
  -o-transition: 6ms;
  transition: 6ms;
  border-bottom: 3px solid transparent;
}

.contacts__nav a:hover {
  border-bottom: 3px solid #ffffff;
}

.contacts__nav-gray {
  color: #24A3FF;
}

.contacts__nav-gray .nav__active {
  color: #F0145A;
  border-bottom: 3px solid #F0145A;
}

.contacts__nav-gray a:hover {
  border-bottom: 3px solid #F0145A;
}

.contacts__nav-gray a:active {
  color: #F0145A;
  border-bottom: 3px solid #F0145A;
}

@media (max-width: 649px) {
  .header {
    /*For opened burger menu*/
  }
  .header__desktop, .header__tablet {
    display: none;
  }
  .header__mobile {
    display: block;
    padding: 20px 20px 0;
  }
  .header__mobile_top-string, .header__mobile_bottom-string {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__mobile_burger-menu-gray path {
    stroke: #323264;
  }
  .header__mobile_top-string {
    margin: 0 0 10px;
  }
  .header__mobile_bottom-string {
    padding: 10px 0;
  }
  .header__mobile_logo {
    height: 31px;
  }
  .header__mobile-menu-top {
    padding: 16px 0 14px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .close__wrapper {
    position: absolute;
    right: 10px;
  }
  .header__mobile-menu {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    z-index: 1;
  }
  .header__mobile-menu_nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    background-color: #F5F5FA;
  }
  .header__mobile-menu_nav a {
    padding: 11px 0 15px 0;
    margin: 0;
    border-bottom: solid 2px #ffffff !important;
  }
  .header__mobile-menu_nav a:active {
    border-bottom: solid 2px #ffffff !important;
  }
  .header__mobile-menu .nav__active {
    border-bottom: solid 2px #ffffff !important;
  }
  .header__mobile-menu_active {
    display: block;
  }
  .header__mobile-menu_hidden {
    display: none;
  }
}

@media (min-width: 650px) {
  .contacts__phone::before {
    display: inline-block;
    content: "";
    margin: 0 10px 2px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #ffffff;
  }
  .contacts__phone-gray::before {
    display: inline-block;
    content: "";
    margin: 0 10px 2px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #B3B3BA;
  }
}

@media (min-width: 650px) and (max-width: 1009px) {
  .header {
    padding: 34px 40px 0;
  }
  .header__desktop, .header__mobile {
    display: none;
  }
  .header__nav_small-tablet {
    display: block;
  }
  .header__nav_big-tablet {
    display: none;
  }
  .header__tablet {
    display: block;
  }
  .header__logo-nav_tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 15px 0;
  }
  .header .contacts__nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .header .contacts__nav a {
    margin: 0 15px 0 0;
  }
}

@media (min-width: 1010px) and (max-width: 1279px) {
  .header__desktop, .header__mobile {
    display: none;
  }
  .header__nav_small-tablet {
    display: none;
  }
  .header__tablet {
    display: block;
  }
  .header__logo-nav_tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section__logo {
  display: inline-block;
  width: 92px;
  height: 92px;
  margin: 0 0 20px 0;
  border-radius: 24px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.section__logo img {
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.section__logo img:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.section__heading {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #24A3FF;
  font-weight: 500;
  margin: 0 0 15px 0;
}

.section__heading:hover {
  color: #F0145A;
}

.section__heading_red {
  font-family: 'Open Sans', sans-serif;
  font-size: 42px;
  line-height: 50px;
  color: #F0145A;
  font-weight: 700;
  background: -webkit-gradient(linear, left top, right top, from(#F0145A), to(#ef8080));
  background: -o-linear-gradient(left, #F0145A 0%, #ef8080 100%);
  background: linear-gradient(to right, #F0145A 0%, #ef8080 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 500;
}

@media (max-width: 649px) {
  .section__wrapper_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section__wrapper_mobile-big {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .section__logo {
    width: 64px;
    height: 64px;
    margin: 0 10px 10px 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .section__logo_big {
    width: 92px;
    height: 92px;
  }
  .section__heading {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #24A3FF;
    font-weight: 500;
  }
  .section__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 500;
  }
}

.services {
  padding: 0 40px 0;
}

.services__path {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  opacity: 50%;
  border-bottom: 3px solid transparent;
  margin: 0 0 0 20px;
}

.services__path::after {
  display: inline-block;
  content: "";
  background: url("./img/icons/Link-arrow-white.svg") center 1px/contain no-repeat;
  width: 12px;
  height: 12px;
  opacity: 50%;
}

.services__path:hover {
  border-bottom: 3px solid #F0145A;
}

.services__path-hidden {
  display: none;
}

.services h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 42px;
  line-height: 50px;
  color: #F0145A;
  font-weight: 500;
  background: -webkit-gradient(linear, left top, right top, from(#F0145A), to(#ef8080));
  background: -o-linear-gradient(left, #F0145A 0%, #ef8080 100%);
  background: linear-gradient(to right, #F0145A 0%, #ef8080 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 0 68px 20px;
}

.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__container .section__wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 350px;
      flex-basis: 350px;
  margin: 0 20px 58px 20px;
}

@media (max-width: 1009px) {
  .services {
    padding: 0 20px 0;
  }
}

@media (max-width: 649px) {
  .services {
    padding: 0 0 0;
  }
  .services h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 31px;
    line-height: 37px;
    color: #F0145A;
    font-weight: 500;
    background: -webkit-gradient(linear, left top, right top, from(#F0145A), to(#ef8080));
    background: -o-linear-gradient(left, #F0145A 0%, #ef8080 100%);
    background: linear-gradient(to right, #F0145A 0%, #ef8080 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 20px 20px;
  }
  .services .section__wrapper {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 270px;
        flex-basis: 270px;
    margin: 0 20px 40px;
  }
}

.cases-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px 20px;
  background-color: #F5F5FA;
}

.cases-item__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #686887;
  font-weight: 500;
  margin: 0 0 20px 0;
}

@media (max-width: 1050px) {
  .cases-item__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #686887;
    font-weight: 500;
  }
}

.cases-item__name {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA;
  font-weight: 400;
}

.cases__container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 3.5fr 3.5fr;
  -webkit-column-gap: 2px;
     -moz-column-gap: 2px;
          column-gap: 2px;
  row-gap: 2px;
  padding: 0 60px;
  margin: 0 0 30px;
}

.cases__heading {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #F0145A;
  font-weight: 700;
  text-transform: uppercase;
  grid-column: 1 / 5;
  grid-row: 1;
  background-color: #F5F5FA;
  border-top-left-radius: 12px;
  padding: 20px 20px;
}

.cases :nth-child(2) {
  grid-column: 1 / 5;
  grid-row: 2;
}

.cases :nth-child(3) {
  grid-column: 5 / 9;
  grid-row: 1 / 3;
}

.cases :nth-child(4) {
  grid-column: 9 / 13;
  grid-row: 1 / 3;
  border-top-right-radius: 12px;
}

.cases :nth-child(5) {
  grid-column: 1 / 4;
  grid-row: 3;
  border-bottom-left-radius: 12px;
}

.cases :nth-child(6) {
  grid-column: 4 / 8;
  grid-row: 3;
}

.cases :nth-child(7) {
  grid-column: 8 / 13;
  grid-row: 3;
  border-bottom-right-radius: 12px;
}

@media (min-width: 580px) and (max-width: 850px) {
  .cases__container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 3.5fr 3.5fr 3.5fr;
    -webkit-column-gap: 2px;
       -moz-column-gap: 2px;
            column-gap: 2px;
    row-gap: 2px;
    padding: 0 40px;
  }
  .cases :nth-child(1) {
    grid-column: 1 / 4;
    grid-row: 1;
  }
  .cases :nth-child(2) {
    grid-column: 1 / 4;
    grid-row: 2;
  }
  .cases :nth-child(3) {
    grid-column: 4 / 7;
    grid-row: 1 / 3;
    border-top-right-radius: 12px;
  }
  .cases :nth-child(4) {
    grid-column: 1 / 4;
    grid-row: 3;
    border-radius: 0;
  }
  .cases :nth-child(5) {
    grid-column: 4 / 7;
    grid-row: 3;
    border-radius: 0;
  }
  .cases :nth-child(6) {
    grid-column: 1 / 4;
    grid-row: 4;
    border-bottom-left-radius: 12px;
  }
  .cases :nth-child(7) {
    grid-column: 4 / 7;
    grid-row: 4;
    border-bottom-right-radius: 12px;
  }
}

@media (max-width: 579px) {
  .cases__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 20px;
  }
  .cases :nth-child(1) {
    grid-column: 1 / 4;
    grid-row: 1;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .cases :nth-child(2) {
    grid-column: 1 / 4;
    grid-row: 2;
  }
  .cases :nth-child(3) {
    grid-column: 4 / 7;
    grid-row: 1 / 3;
    border-top-right-radius: 0;
  }
  .cases :nth-child(4) {
    grid-column: 1 / 4;
    grid-row: 3;
    border-radius: 0;
  }
  .cases :nth-child(5) {
    grid-column: 4 / 7;
    grid-row: 3;
    border-radius: 0;
  }
  .cases :nth-child(6) {
    grid-column: 1 / 4;
    grid-row: 4;
    border-bottom-left-radius: 0;
  }
  .cases :nth-child(7) {
    grid-column: 4 / 7;
    grid-row: 4;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
  }
}

.clients__heading {
  margin: 0 0 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #323264;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.clients-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 360px;
      flex-basis: 360px;
  height: 120px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 10px;
}

.clients-item__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients-item__container .clients-item:nth-child(1) {
  background-color: #1C4280;
}

.clients-item__container .clients-item:nth-child(2) {
  background-color: #143646;
}

.clients-item__container .clients-item:nth-child(3) {
  background-color: #F48B30;
}

.clients-item__container .clients-item:nth-child(4) {
  background-color: #9E4DC3;
}

.clients-item__container .clients-item:nth-child(5) {
  background-color: #F48B30;
}

.clients-item__container .clients-item:nth-child(6) {
  background-color: #E2E2E4;
}

.clients-item__container .clients-item:nth-child(7) {
  background-color: #C71C36;
}

.clients-item__container .clients-item:nth-child(8) {
  background-color: #DCF3F9;
}

.clients-item__container .clients-item:nth-child(9) {
  background-color: #EAEAEA;
}

.clients-item__container .clients-item:nth-child(10) {
  background-color: #282240;
}

.clients-item__container .clients-item:nth-child(11) {
  background-color: #1D4568;
}

.clients-item__container .clients-item:nth-child(12) {
  background-color: #000000;
}

@media (min-width: 320px) and (max-width: 540px) {
  .clients-item {
    -ms-flex-preferred-size: 160px;
        flex-basis: 160px;
    height: 90px;
  }
}

@media (min-width: 540px) and (max-width: 1080px) {
  .clients-item {
    -ms-flex-preferred-size: 240px;
        flex-basis: 240px;
  }
}

.article {
  display: inline-block;
  max-width: 414px;
  background-color: #ffffff;
  border-radius: 8px;
  margin: 0 0 40px 0;
  text-align: left;
}

.article_big {
  max-width: 100%;
  margin: 0 0 20px 0;
}

.article__img_wrapper {
  width: 100%;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.article__publications-entry {
  border-radius: 12px;
}

.article__img {
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.article__img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.article .hidden {
  display: none;
}

.article__content {
  padding: 20px;
}

.article__heading {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #24A3FF;
  font-weight: 500;
  margin: 0 0 10px;
}

.article__heading:hover {
  color: #F0145A;
}

.article__heading_big {
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  line-height: 38px;
  color: #323264;
  font-weight: 500;
}

.article__date {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #B3B3BA;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.article__text-wrapper {
  border-top: 4px solid #E6E6F0;
  padding: 20px 0 0 0;
}

.article__text-item {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  font-weight: 500;
}

.article__text-item_big {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: 500;
}

@media (max-width: 1009px) {
  .article__content_big {
    padding: 20px 40px;
  }
}

@media (max-width: 649px) {
  .article {
    margin: 0 0 20px 0;
  }
  .article__heading {
    margin: 0 0 7px 0;
  }
  .article__heading_big {
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    line-height: 26px;
    color: #323264;
    font-weight: 500;
  }
  .article__publications-entry {
    border-radius: 12px 12px 0 0;
  }
  .article__wrapper {
    margin: 0 0 20px 0;
  }
  .article__content {
    padding: 17px 20px 17px;
  }
  .article__date {
    margin: 0;
  }
  .article__text-wrapper_mobile {
    display: none;
  }
  .article__text-wrapper_mobile-big {
    display: block;
  }
}

.common__button {
  width: 250px;
  padding: 16px 17px 17px;
  background-color: #24A3FF;
  border: #24A3FF;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 6ms;
  -o-transition: 6ms;
  transition: 6ms;
  -webkit-box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);
          box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
}

.common__button:hover {
  background-color: #0085FF;
  -webkit-box-shadow: 0 0 30px rgba(36, 163, 255, 0.5);
          box-shadow: 0 0 30px rgba(36, 163, 255, 0.5);
}

.common__button:active {
  background-color: #006CCF;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.publications {
  height: 872px;
  overflow-y: hidden;
  background-color: #F5F5FA;
  padding: 40px 60px 0;
}

.publications__border-active {
  border-radius: 12px 12px 0 0;
}

.publications__path {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #24A3FF;
  font-weight: 500;
  text-transform: uppercase;
  opacity: 1;
  border-bottom: 3px solid transparent;
}

.publications__path::after {
  display: inline-block;
  content: "";
  background: url("../../assets/img/icons/Link-arrow-blue.svg") center 1px/contain no-repeat;
  width: 12px;
  height: 12px;
  opacity: 1;
}

.publications__path_homepage {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #24A3FF;
  font-weight: 500;
  text-transform: uppercase;
  opacity: 1;
  border-bottom: 3px solid transparent;
}

.publications__path_homepage::after {
  display: inline-block;
  content: "";
  background: url("./img/icons/Link-arrow-blue.svg") center 1px/contain no-repeat;
  width: 12px;
  height: 12px;
  opacity: 1;
}

.publications__path:hover {
  border-bottom: 3px solid #F0145A;
}

.publications__heading {
  font-family: 'Open Sans', sans-serif;
  font-size: 42px;
  line-height: 50px;
  color: #F0145A;
  font-weight: 500;
  background: -webkit-gradient(linear, left top, right top, from(#F0145A), to(#ef8080));
  background: -o-linear-gradient(left, #F0145A 0%, #ef8080 100%);
  background: linear-gradient(to right, #F0145A 0%, #ef8080 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 0 40px 0;
}

.publications__container {
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  text-align: center;
}

.publications__art-shadow {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  bottom: -1px;
  height: 200px;
  width: 100%;
  background: url("../../assets/img/Shade-white.png") center/cover no-repeat;
}

.publications__art-shadow_homepage {
  background: url("./img/Shade-white.png") center/cover no-repeat;
}

.publications__button-wrapper {
  width: 250px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 3;
  left: calc(50% - 125px);
  bottom: 40px;
}

@media (max-width: 1009px) {
  .publications {
    padding: 40px 40px 0;
  }
  .publications__container {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
}

@media (max-width: 649px) {
  .publications {
    height: unset;
    padding: 20px 20px 0;
  }
  .publications__heading {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    line-height: 38px;
    color: #F0145A;
    font-weight: 500;
    margin: 0 0 17px 0;
  }
  .publications__container {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
  }
  .publications__container :nth-child(4), .publications__container :nth-child(5), .publications__container :nth-child(6) {
    display: none;
  }
  .publications__art-shadow_mobile {
    display: none;
  }
  .publications__button-wrapper {
    position: unset;
    margin: 0 auto 20px;
    -webkit-box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);
            box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);
    border-radius: 12px;
  }
}

.footer {
  background-color: #F5F5FA;
  padding: 0 60px 33px;
}

.footer_border-radius {
  border-radius: 12px 12px 0 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0 0;
}

.footer__container_border-top-separate {
  border-top: 4px solid #E6E6F0;
}

.footer__contacts-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 22px;
}

.footer__contacts-address address {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #323264;
  font-weight: 600;
  font-style: normal;
}

.footer__contacts-address a {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #24A3FF;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (min-width: 541px) {
  .footer__contacts-address a::before {
    display: inline-block;
    content: "";
    margin: 0 10px 2px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #B3B3BA;
  }
}

.footer__contacts-address a:hover {
  color: #F0145A;
}

.footer__contacts-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contacts-phone a svg path:hover {
  fill: #F0145A;
}

.footer__contacts-phone span {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #24A3FF;
  font-weight: 600;
  padding: 0 0 7px;
}

@media (min-width: 541px) {
  .footer__contacts-phone span::before {
    display: inline-block;
    content: "";
    margin: 0 10px 2px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #B3B3BA;
  }
}

.footer__contacts-phone span:hover {
  color: #F0145A;
}

.footer__contacts-phone p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #46466E;
  font-weight: 600;
  padding: 0 0 6px;
}

@media (min-width: 541px) {
  .footer__contacts-phone p::before {
    display: inline-block;
    content: "";
    margin: 0 10px 3px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #B3B3BA;
  }
}

.footer__copyright {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #B3B3BA;
  font-weight: 500;
}

@media (max-width: 900px) {
  .footer {
    padding: 0 30px 81px;
  }
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__container__contacts {
    margin: 0 0 29px;
  }
}

@media (max-width: 540px) {
  .footer {
    padding: 0 20px 118px;
  }
  .footer__container {
    text-align: center;
    padding: 20px 0 0;
  }
  .footer__contacts {
    margin: 0 0 20px;
  }
  .footer__contacts-address, .footer__contacts-phone {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__contacts-address {
    margin: 0 0 20px;
  }
  .footer__contacts-address address {
    margin: 0 0 10px;
  }
  .footer__contacts-phone a, .footer__contacts-phone p {
    margin: 0 0 20px;
  }
}

.advantages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 173px 0 60px;
  margin: 0 0 80px 0;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 567px;
      flex-basis: 567px;
  text-align: right;
  font-family: 'Open Sans', sans-serif;
  font-size: 42px;
  line-height: 50px;
  color: #B3B3BA;
  font-weight: 500;
}

.advantages__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 40px 20px 0;
  border-right: 4px solid #B3B3BA;
  cursor: pointer;
}

.advantages__item:last-child {
  padding-bottom: 0;
}

.advantages__item_active {
  color: #F0145A;
  background: -webkit-gradient(linear, left top, right top, from(#F0145A), to(#ef8080));
  background: -o-linear-gradient(left, #F0145A 0%, #ef8080 100%);
  background: linear-gradient(to right, #F0145A 0%, #ef8080 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-color: #F0145A;
}

.advantages__item:hover {
  border-color: #F0145A;
}

.advantages__item__pagination-mobile {
  display: none;
}

.advantages__descriptions {
  -ms-flex-preferred-size: 640px;
      flex-basis: 640px;
  padding: 46px 0 40px 38px;
}

.advantages__descriptions_heading-mobile {
  display: none;
}

.advantages__descriptions h3 {
  margin: 0 0 20px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 31px;
  line-height: 38px;
  color: #ffffff;
  font-weight: 500;
}

.advantages__descriptions p {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 500;
}

@media (max-width: 930px) {
  .advantages__list {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #B3B3BA;
    font-weight: 500;
  }
  .advantages__descriptions h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 500;
    margin: 0 0 15px 0;
  }
  .advantages__descriptions p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 500;
    margin: 0 0 20px 0;
  }
}

@media (max-width: 730px) {
  .advantages__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 40px 20px 0;
  }
  .advantages__list_mobile {
    display: none;
  }
  .advantages__descriptions {
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
    padding: 0;
  }
  .advantages__descriptions_heading-mobile {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #F0145A;
    font-weight: 600;
    background: -webkit-gradient(linear, left top, right top, from(#F0145A), to(#ef8080));
    background: -o-linear-gradient(left, #F0145A 0%, #ef8080 100%);
    background: linear-gradient(to right, #F0145A 0%, #ef8080 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    margin: 0 0 10px;
  }
  .advantages__pagination-mobile {
    display: block;
  }
  .advantages__dot-mob {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 0 7px;
    background-color: #24A3FF;
    opacity: 0.2;
  }
  .advantages__dot-mob:hover {
    opacity: 1;
    cursor: pointer;
  }
  .advantages__dot-mob_active {
    opacity: 1;
  }
}

.team-card {
  padding: 40px 60px 0;
  margin: 0 0 41px 0;
  background-color: #ffffff;
}

.team-card__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #F5F5FA;
  border-radius: 12px;
  margin: 0 0 20px 0;
}

.team-card__img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 413px;
  height: 500px;
  border-radius: 12px 0 0 12px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background: url("img/Team-member.png") center/cover no-repeat;
  background-size: 100% 100%;
  -webkit-transition: background-size 0.7s ease;
  -o-transition: background-size 0.7s ease;
  transition: background-size 0.7s ease;
}

.team-card__img:hover {
  background-size: 110% 110%;
}

.team-card__img_second {
  background: url("img/Team-member-2.png") center/cover no-repeat;
  background-size: 100% 100%;
}

.team-card__img_third {
  background: url("img/Team-member-3.png") center/cover no-repeat;
  background-size: 100% 100%;
}

.team-card__description {
  padding: 40px 40px;
}

.team-card__path {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #24A3FF;
  font-weight: 500;
  text-transform: uppercase;
  opacity: 1;
  border-bottom: 3px solid transparent;
}

.team-card__path::after {
  display: inline-block;
  content: "";
  background: url("./img/icons/Link-arrow-blue.svg") center 1px/contain no-repeat;
  width: 12px;
  height: 12px;
  opacity: 1;
}

.team-card__path:hover {
  border-bottom: 3px solid #F0145A;
}

.team-card__heading {
  font-family: 'Open Sans', sans-serif;
  font-size: 42px;
  line-height: 50px;
  color: #F0145A;
  font-weight: 500;
  background: -webkit-gradient(linear, left top, right top, from(#F0145A), to(#ef8080));
  background: -o-linear-gradient(left, #F0145A 0%, #ef8080 100%);
  background: linear-gradient(to right, #F0145A 0%, #ef8080 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 0 20px 0;
}

.team-card__name {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #B3B3BA;
  font-weight: 600;
  margin: 0 0 5px 0;
}

.team-card__name:hover {
  color: #F0145A;
}

.team-card__position {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #B3B3BA;
  font-weight: 400;
}

.team-card__pagination {
  position: relative;
  width: 90px;
  left: calc(50%);
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.team-card__dot {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 0 7px;
  background-color: #24A3FF;
  opacity: 0.2;
}

.team-card__dot:hover {
  opacity: 1;
  cursor: pointer;
}

.team-card__dot:hover {
  opacity: 0.4;
}

.team-card__dot_active {
  opacity: 1;
}

@media (max-width: 1110px) {
  .team-card__heading {
    font-family: 'Open Sans', sans-serif;
    font-size: 29px;
    line-height: 37px;
    color: #F0145A;
    font-weight: 500;
  }
}

@media (max-width: 889px) {
  .team-card {
    margin: 0 0 30px 0;
    padding: 40px 20px 0;
  }
  .team-card__container {
    margin: 0 0 15px 0;
  }
  .team-card__heading {
    margin: 0 0 10px 0;
  }
  .team-card__img_mobile {
    display: none;
  }
  .team-card__description {
    padding: 20px 20px;
  }
  .team-card__member {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .team-card__member::before {
    display: inline-block;
    content: "";
    height: 60px;
    width: 60px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin: 0 10px 0 0;
    border-radius: 50%;
    background: url("img/Team-member-mobile.png") center/contain no-repeat;
  }
  .team-card__container_second .team-card__member::before {
    background: url("img/Team-member-1-mobile.png") center/contain no-repeat;
  }
  .team-card__container_third .team-card__member::before {
    background: url("img/Team-member-2-mobile.png") center/contain no-repeat;
  }
  .team-card__name-wrapper_mobile {
    padding: 5px 0 0;
  }
}

.body__overflow-hidden {
  overflow: hidden;
  height: 100vh;
  position: relative;
}

.page__wrapper {
  min-width: 320px;
  max-width: 1600px;
  margin: 0 auto;
}

.hallo__section {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: url("./img/PatternSplash.png") center/cover no-repeat;
}

.hallo__heading {
  position: relative;
  bottom: 450px;
  max-width: 450px;
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  line-height: 45px;
  color: #ffffff;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
}

.hallo__logo-container {
  position: relative;
  top: 175px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 595px;
  height: 687px;
  background: url("./img/SymbolLongleg.png") center/contain no-repeat;
}

.hallo__art-shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  background: url("./img/Shade.png") center/cover no-repeat;
}

.hallo__button-scroll-down {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 20px;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  z-index: 1;
}

.hallo__button-scroll-down:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 414px) {
  .hallo__section {
    background: url("./img/Pattern.png") center/cover no-repeat;
  }
  .hallo__logo-heading_wrapper {
    padding: 0 20px;
  }
  .hallo__logo-container {
    position: relative;
    top: 100px;
  }
  .hallo__heading {
    bottom: 550px;
  }
  .hallo__button-scroll-down {
    bottom: 105px;
  }
}

@media (min-height: 901px) and (min-width: 414px) {
  .hallo__button-scroll-down {
    display: none;
  }
}

@media (min-width: 415px) and (max-width: 1400px) and (max-height: 800px) {
  .hallo__logo-container {
    position: relative;
    top: 100px;
  }
  .hallo__heading {
    bottom: 550px;
  }
}

@media (min-width: 1441px) and (min-height: 901px) {
  .hallo__section {
    height: 800px;
  }
}

@media (max-width: 1366px) and (min-height: 901px) {
  .hallo__section {
    height: 800px;
  }
}

.main {
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  position: relative;
  top: -1px;
  background: url("./img/Bg.png") center/cover no-repeat;
}

.main__art-wrapper {
  position: relative;
  bottom: -20px;
  width: 100%;
  height: 20px;
  background-image: url("./img/Card-shadow.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media (max-width: 414px) {
  .main__art-wrapper {
    background-image: url("./img/Card-shadow-mobile.png");
  }
}

@media (max-width: 350px) {
  .hallo__logo-container {
    top: 30px;
  }
  .hallo__heading {
    bottom: 605px;
  }
}
