@import "local-component/input.scss";
@import "../button/_main.scss";

.feedback {
  background-color: $BgGrey;
  opacity: 1;
  border-radius: 12px;
  padding: 20px;

  &__input-wrapper {
    margin: 0 0 20px;
  }

  &__heading {
    @include font-style(32px, 38px, $AccentRed, 600);
    @include GradientTextRed;
    margin: 0 0 20px;
  }

  &__request {
    @include font-style(14px, 17px, $TextGrey, 600);
    text-transform: uppercase;
    margin: 0 0 10px;
  }

  &__message {
    width: 100%;
    height: 187px;
    resize: none;
    outline: none;
    border: none;
    background: $white;
    border-radius: 8px;
    padding: 11px 10px 10px;
    margin: 0 0 20px;
    @include font-style(21px, 30px, $TextBlue, 500);

    &::placeholder {
      @include font-style(16px, 26px, $TextGrey, 400);
    }
  }

  &__button-wrapper {
    text-align: center;
  }
}


@media (max-width: 649px) {
  .feedback {
    border-radius: unset;

    &__heading {
      @include font-style(22px, 26px, $AccentRed, 600);
    }

    &__message {
      height: calc(calc(var(--vh, 1vh) * 100) - 397px);
    }
  }
}