@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration: none;
}

a:-webkit-any-link {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
  width: unset;
  height: unset;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 50px 60px 0 60px;
}

.header__mobile, .header__tablet {
  display: none;
}

.header__href-homepage {
  cursor: pointer;
}

.contacts__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 12px 0;
}

.contacts__lang {
  margin: 0 20px 6px 0;
}

.contacts__lang span {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  font-weight: 700;
  padding: 5px 6px;
}

.contacts__lang span:hover, .contacts__lang span:first-child {
  background: #F0145A;
  border-radius: 8px;
  cursor: pointer;
}

.contacts__lang-gray span {
  color: #B3B3BA;
  border-radius: 8px;
}

.contacts__lang-gray span:first-child {
  background: #F0145A;
  cursor: pointer;
}

.contacts__lang-gray span:hover {
  background: #EDEDF7;
}

.contacts__address {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  font-weight: 400;
}

.contacts__address-gray {
  color: #B3B3BA;
}

.contacts__phone {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  font-weight: 700;
}

.contacts__phone-gray {
  color: #B3B3BA;
}

.contacts__facebook::before {
  display: inline-block;
  content: "";
  margin: 0 10px 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #ffffff;
}

.contacts__facebook svg path:hover {
  fill: #F0145A;
  cursor: pointer;
}

.contacts__facebook-gray::before {
  display: inline-block;
  content: "";
  margin: 0 10px 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #B3B3BA;
}

.contacts__facebook-gray svg path {
  fill: #B3B3BA;
}

.contacts__facebook-gray svg path:hover {
  fill: #24A3FF;
}

.contacts__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 600;
}

.contacts__nav .nav__active {
  border-bottom: 3px solid #ffffff;
}

.contacts__nav a {
  margin: 0 0 0 15px;
  -webkit-transition: 6ms;
  -o-transition: 6ms;
  transition: 6ms;
  border-bottom: 3px solid transparent;
}

.contacts__nav a:hover {
  border-bottom: 3px solid #ffffff;
}

.contacts__nav-gray {
  color: #24A3FF;
}

.contacts__nav-gray .nav__active {
  color: #F0145A;
  border-bottom: 3px solid #F0145A;
}

.contacts__nav-gray a:hover {
  border-bottom: 3px solid #F0145A;
}

.contacts__nav-gray a:active {
  color: #F0145A;
  border-bottom: 3px solid #F0145A;
}

@media (max-width: 649px) {
  .header {
    /*For opened burger menu*/
  }
  .header__desktop, .header__tablet {
    display: none;
  }
  .header__mobile {
    display: block;
    padding: 20px 20px 0;
  }
  .header__mobile_top-string, .header__mobile_bottom-string {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__mobile_burger-menu-gray path {
    stroke: #323264;
  }
  .header__mobile_top-string {
    margin: 0 0 10px;
  }
  .header__mobile_bottom-string {
    padding: 10px 0;
  }
  .header__mobile_logo {
    height: 31px;
  }
  .header__mobile-menu-top {
    padding: 16px 0 14px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .close__wrapper {
    position: absolute;
    right: 10px;
  }
  .header__mobile-menu {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    z-index: 1;
  }
  .header__mobile-menu_nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    background-color: #F5F5FA;
  }
  .header__mobile-menu_nav a {
    padding: 11px 0 15px 0;
    margin: 0;
    border-bottom: solid 2px #ffffff !important;
  }
  .header__mobile-menu_nav a:active {
    border-bottom: solid 2px #ffffff !important;
  }
  .header__mobile-menu .nav__active {
    border-bottom: solid 2px #ffffff !important;
  }
  .header__mobile-menu_active {
    display: block;
  }
  .header__mobile-menu_hidden {
    display: none;
  }
}

@media (min-width: 650px) {
  .contacts__phone::before {
    display: inline-block;
    content: "";
    margin: 0 10px 2px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #ffffff;
  }
  .contacts__phone-gray::before {
    display: inline-block;
    content: "";
    margin: 0 10px 2px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #B3B3BA;
  }
}

@media (min-width: 650px) and (max-width: 1009px) {
  .header {
    padding: 34px 40px 0;
  }
  .header__desktop, .header__mobile {
    display: none;
  }
  .header__nav_small-tablet {
    display: block;
  }
  .header__nav_big-tablet {
    display: none;
  }
  .header__tablet {
    display: block;
  }
  .header__logo-nav_tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 15px 0;
  }
  .header .contacts__nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .header .contacts__nav a {
    margin: 0 15px 0 0;
  }
}

@media (min-width: 1010px) and (max-width: 1279px) {
  .header__desktop, .header__mobile {
    display: none;
  }
  .header__nav_small-tablet {
    display: none;
  }
  .header__tablet {
    display: block;
  }
  .header__logo-nav_tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer {
  background-color: #F5F5FA;
  padding: 0 60px 33px;
}

.footer_border-radius {
  border-radius: 12px 12px 0 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0 0;
}

.footer__container_border-top-separate {
  border-top: 4px solid #E6E6F0;
}

.footer__contacts-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 22px;
}

.footer__contacts-address address {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #323264;
  font-weight: 600;
  font-style: normal;
}

.footer__contacts-address a {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #24A3FF;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (min-width: 541px) {
  .footer__contacts-address a::before {
    display: inline-block;
    content: "";
    margin: 0 10px 2px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #B3B3BA;
  }
}

.footer__contacts-address a:hover {
  color: #F0145A;
}

.footer__contacts-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contacts-phone a svg path:hover {
  fill: #F0145A;
}

.footer__contacts-phone span {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #24A3FF;
  font-weight: 600;
  padding: 0 0 7px;
}

@media (min-width: 541px) {
  .footer__contacts-phone span::before {
    display: inline-block;
    content: "";
    margin: 0 10px 2px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #B3B3BA;
  }
}

.footer__contacts-phone span:hover {
  color: #F0145A;
}

.footer__contacts-phone p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #46466E;
  font-weight: 600;
  padding: 0 0 6px;
}

@media (min-width: 541px) {
  .footer__contacts-phone p::before {
    display: inline-block;
    content: "";
    margin: 0 10px 3px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #B3B3BA;
  }
}

.footer__copyright {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #B3B3BA;
  font-weight: 500;
}

@media (max-width: 900px) {
  .footer {
    padding: 0 30px 81px;
  }
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__container__contacts {
    margin: 0 0 29px;
  }
}

@media (max-width: 540px) {
  .footer {
    padding: 0 20px 118px;
  }
  .footer__container {
    text-align: center;
    padding: 20px 0 0;
  }
  .footer__contacts {
    margin: 0 0 20px;
  }
  .footer__contacts-address, .footer__contacts-phone {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__contacts-address {
    margin: 0 0 20px;
  }
  .footer__contacts-address address {
    margin: 0 0 10px;
  }
  .footer__contacts-phone a, .footer__contacts-phone p {
    margin: 0 0 20px;
  }
}

.body__overflow-hidden {
  height: 100vh;
}

.page__wrapper {
  min-width: 320px;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #ffffff;
}

.header__wrapper {
  margin: 0 0 80px;
}

.team-specs {
  width: 641px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.team-specs__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 76%;
  margin: 0 auto 100px;
}

.team-specs__heading {
  margin: 0 0 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 42px;
  line-height: 50px;
  color: #F0145A;
  font-weight: 600;
  background: -webkit-gradient(linear, left top, right top, from(#F0145A), to(#ef8080));
  background: -o-linear-gradient(left, #F0145A 0%, #ef8080 100%);
  background: linear-gradient(to right, #F0145A 0%, #ef8080 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.team-specs__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  font-weight: 500;
}

.team-specs__text:not(p:last-child) {
  margin: 0 0 20px;
}

.team-specs__details {
  width: 414px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 0 0 40px;
}

.team-specs__details-list {
  border-left: 4px solid #E6E6F0;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  line-height: 21px;
  color: #323264;
  font-weight: 500;
}

.team-specs__details-list li {
  padding: 0 0 0 20px;
}

.team-specs__details-list li img {
  margin: 0 0 10px;
}

.team-specs__details-list li:not(li:last-child) {
  padding-bottom: 40px;
}

.main__img-wrapper {
  margin: 0 auto 80px;
}

.team-quality__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 76%;
  margin: 0 auto 93px;
}

.team-quality__heading {
  width: 414px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 0 0 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 42px;
  line-height: 50px;
  color: #F0145A;
  font-weight: 500;
  background: -webkit-gradient(linear, left top, right top, from(#F0145A), to(#ef8080));
  background: -o-linear-gradient(left, #F0145A 0%, #ef8080 100%);
  background: linear-gradient(to right, #F0145A 0%, #ef8080 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.team-quality__text {
  width: 641px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  font-weight: 500;
}

.team-quality__text p:not(p:last-child) {
  margin: 0 0 20px;
}

.main__img {
  margin: 0 auto;
}

.main__img_mobile {
  display: none;
}

.awards {
  background-color: #F5F5FA;
  border-radius: 12px 12px 0 0;
  padding: 28px 60px 30px;
}

.awards__heading {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #323264;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 30px;
  text-align: center;
}

.awards__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 30px;
}

.awards__slider-item {
  width: 300px;
  height: 109px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 10px;
  border-radius: 12px;
  background-color: #ffffff;
}

.awards__slider-item:not(.awards__slider-item:last-child) {
  margin: 0 40px 0 0;
}

.awards__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.awards__pagination-item {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 0 7px;
  background-color: #24A3FF;
  opacity: 0.2;
}

.awards__pagination-item:hover {
  opacity: 1;
  cursor: pointer;
}

.awards__pagination-item_mobile {
  display: none;
}

@media (max-width: 960px) {
  .header__wrapper {
    margin: 0 0 20px;
  }
  .team-specs__container {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto 40px;
  }
  .team-specs__heading {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    line-height: 38px;
    color: #F0145A;
    font-weight: 600;
  }
  .team-specs__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    font-weight: 500;
  }
  .team-specs__details {
    margin: 0 0 0 20px;
  }
  .main__img_mobile {
    display: block;
  }
  .main__img_desktop {
    display: none;
  }
  .main__img-wrapper {
    margin: 0 auto 20px;
  }
  .team-quality__container {
    width: 100%;
    padding: 0 20px;
    margin: 0 0 40px;
  }
  .team-quality__heading {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    line-height: 38px;
    color: #F0145A;
    font-weight: 500;
    margin: 0 0 0 20px;
  }
  .team-quality__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    font-weight: 500;
  }
  .awards__slider-item_desktop {
    display: none;
  }
  .awards__slider-item:nth-child(2) {
    margin: 0 !important;
  }
}

@media (max-width: 600px) {
  .page__wrapper {
    overflow: hidden;
    position: relative;
  }
  .team-specs {
    width: 100%;
    margin: 0 0 20px;
  }
  .team-specs__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .team-specs__details {
    width: 100%;
    margin: 0;
  }
  .team-specs__details-list {
    border-left: unset;
    border-top: 4px solid #E6E6F0;
    padding: 20px 0 0;
  }
  .team-specs__details-list li {
    padding-left: 0;
  }
  .main__img-wrapper {
    width: 953px;
    height: 290px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .team-quality__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .team-quality__heading {
    width: 100%;
    margin-left: 0;
  }
  .team-quality__text {
    width: 100%;
    margin: 0 0 20px;
  }
  .awards {
    padding: 28px 20px 30px;
  }
  .awards__slider-item {
    width: 157px;
    height: 57px;
  }
  .awards__slider-item img {
    height: 31px;
  }
  .awards__slider-item:nth-child(1) {
    margin-right: 20px !important;
  }
  .awards__pagination-item_mobile {
    display: block;
  }
}
