@import "../article/main";
@import "../button/_main.scss";


.publications {
  height: 872px;
  overflow-y: hidden;
  background-color: $BgGrey;
  padding: 40px 60px 0;

  &_more-articles {
    height: unset;
  }

  &__border-active {
    border-radius: 12px 12px 0 0;
  }

  &__path {

    @include Path(
            $color: $ActiveBlue,
            $opacity: 1,
            $linkArrow: "../../assets/img/icons/Link-arrow-blue.svg");

    &_homepage {
      @include Path(
              $color: $ActiveBlue,
              $opacity: 1,
              $linkArrow: "./img/icons/Link-arrow-blue.svg");
    }

    &:hover {
      border-bottom: 3px solid $AccentRed;
    }
  }

  &__heading {
    @include font-style(42px, 50px, $AccentRed, 500);
    @include GradientTextRed;
    margin: 0 0 40px 0;
  }

  &__container {
    column-count: 3;
    column-gap: 40px;
    text-align: center;
  }

  &__art-shadow {
    position: sticky;
    z-index: 2;
    bottom: -1px;
    height: 200px;
    width: 100%;
    background: url("../../assets/img/Shade-white.png") center/cover no-repeat;

    &_hidden {
      display: none;
    }
  }

  &__art-shadow_homepage {
    background: url("./img/Shade-white.png") center/cover no-repeat;

  }

  &__button-wrapper {
    width: 250px;
    position: sticky;
    z-index: 3;
    left: calc(50% - 125px);
    bottom: 40px;

    &_hidden {
      display: none;
    }
  }
}

@media (max-width: 1009px) {
  .publications {
    padding: 40px 40px 0;

    &__container {
      column-count: 2;
      column-gap: 40px;
    }
  }
}

@media (max-width: 649px) {
  .publications {
    height: unset;
    padding: 20px 20px 0;

    &__heading {
      @include font-style(30px, 38px, $AccentRed, 500);
      margin: 0 0 17px 0;
    }

    &__container {
      margin-bottom: 20px;
      column-count: 1;

      & :nth-child(n + 4) {
        display: none;
      }

      &_more-articles {
        .article__wrapper {
          display: block;
        }
      }
    }

    &__art-shadow_mobile {
      display: none;
    }

    &__button-wrapper {
      position: unset;
      margin: 0 auto 40px;
    }
  }
}