@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration-skip-ink: none;
  text-decoration: none;
}

a:-webkit-any-link {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
  width: unset;
  height: unset;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 60px 0 60px;
}

.header__mobile, .header__tablet {
  display: none;
}

.header__href-homepage {
  cursor: pointer;
}

.contacts__block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 0 12px 0;
}

.contacts__lang {
  margin: 0 20px 6px 0;
}

.contacts__lang span {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  font-weight: 700;
  padding: 5px 6px;
}

.contacts__lang span:hover, .contacts__lang span:first-child {
  background: #F0145A;
  border-radius: 8px;
  cursor: pointer;
}

.contacts__lang-gray span {
  color: #B3B3BA;
  border-radius: 8px;
}

.contacts__lang-gray span:first-child {
  background: #F0145A;
  cursor: pointer;
}

.contacts__lang-gray span:hover {
  background: #EDEDF7;
}

.contacts__address {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  font-weight: 400;
}

.contacts__address-gray {
  color: #B3B3BA;
}

.contacts__phone {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  font-weight: 700;
}

.contacts__phone-gray {
  color: #B3B3BA;
}

.contacts__facebook::before {
  display: inline-block;
  content: "";
  margin: 0 10px 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #ffffff;
}

.contacts__facebook svg path:hover {
  fill: #F0145A;
  cursor: pointer;
}

.contacts__facebook-gray::before {
  display: inline-block;
  content: "";
  margin: 0 10px 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #B3B3BA;
}

.contacts__facebook-gray svg path {
  fill: #B3B3BA;
}

.contacts__facebook-gray svg path:hover {
  fill: #24A3FF;
}

.contacts__nav {
  display: flex;
  justify-content: flex-end;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 600;
}

.contacts__nav .nav__active {
  border-bottom: 3px solid #ffffff;
}

.contacts__nav a {
  margin: 0 0 0 15px;
  transition: 6ms;
  border-bottom: 3px solid transparent;
}

.contacts__nav a:hover {
  border-bottom: 3px solid #ffffff;
}

.contacts__nav-gray {
  color: #24A3FF;
}

.contacts__nav-gray .nav__active {
  color: #F0145A;
  border-bottom: 3px solid #F0145A;
}

.contacts__nav-gray a:hover {
  border-bottom: 3px solid #F0145A;
}

.contacts__nav-gray a:active {
  color: #F0145A;
  border-bottom: 3px solid #F0145A;
}

@media (max-width: 649px) {
  .header {
    /*For opened burger menu*/
  }
  .header__desktop, .header__tablet {
    display: none;
  }
  .header__mobile {
    display: block;
    padding: 20px 20px 0;
  }
  .header__mobile_top-string, .header__mobile_bottom-string {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__mobile_burger-menu-gray path {
    stroke: #323264;
  }
  .header__mobile_top-string {
    margin: 0 0 10px;
  }
  .header__mobile_bottom-string {
    padding: 10px 0;
  }
  .header__mobile_logo {
    height: 31px;
  }
  .header__mobile-menu-top {
    padding: 16px 0 14px 0;
    display: flex;
    justify-content: center;
  }
  .header .close__wrapper {
    position: absolute;
    right: 10px;
  }
  .header__mobile-menu {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    z-index: 1;
  }
  .header__mobile-menu_nav {
    flex-direction: column;
    text-align: center;
    background-color: #F5F5FA;
  }
  .header__mobile-menu_nav a {
    padding: 11px 0 15px 0;
    margin: 0;
    border-bottom: solid 2px #ffffff !important;
  }
  .header__mobile-menu_nav a:active {
    border-bottom: solid 2px #ffffff !important;
  }
  .header__mobile-menu .nav__active {
    border-bottom: solid 2px #ffffff !important;
  }
  .header__mobile-menu_active {
    display: block;
  }
  .header__mobile-menu_hidden {
    display: none;
  }
}

@media (min-width: 650px) {
  .contacts__phone::before {
    display: inline-block;
    content: "";
    margin: 0 10px 2px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #ffffff;
  }
  .contacts__phone-gray::before {
    display: inline-block;
    content: "";
    margin: 0 10px 2px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #B3B3BA;
  }
}

@media (min-width: 650px) and (max-width: 1009px) {
  .header {
    padding: 34px 40px 0;
  }
  .header__desktop, .header__mobile {
    display: none;
  }
  .header__nav_small-tablet {
    display: block;
  }
  .header__nav_big-tablet {
    display: none;
  }
  .header__tablet {
    display: block;
  }
  .header__logo-nav_tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 15px 0;
  }
  .header .contacts__nav {
    justify-content: start;
  }
  .header .contacts__nav a {
    margin: 0 15px 0 0;
  }
}

@media (min-width: 1010px) and (max-width: 1279px) {
  .header__desktop, .header__mobile {
    display: none;
  }
  .header__nav_small-tablet {
    display: none;
  }
  .header__tablet {
    display: block;
  }
  .header__logo-nav_tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer {
  background-color: #F5F5FA;
  padding: 0 60px 33px;
}

.footer_border-radius {
  border-radius: 12px 12px 0 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 0;
}

.footer__container_border-top-separate {
  border-top: 4px solid #E6E6F0;
}

.footer__contacts-address {
  display: flex;
  align-items: center;
  margin: 0 0 22px;
}

.footer__contacts-address address {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #323264;
  font-weight: 600;
  font-style: normal;
}

.footer__contacts-address a {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #24A3FF;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (min-width: 541px) {
  .footer__contacts-address a::before {
    display: inline-block;
    content: "";
    margin: 0 10px 2px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #B3B3BA;
  }
}

.footer__contacts-address a:hover {
  color: #F0145A;
}

.footer__contacts-phone {
  display: flex;
  align-items: center;
}

.footer__contacts-phone a svg path:hover {
  fill: #F0145A;
}

.footer__contacts-phone span {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #24A3FF;
  font-weight: 600;
  padding: 0 0 7px;
}

@media (min-width: 541px) {
  .footer__contacts-phone span::before {
    display: inline-block;
    content: "";
    margin: 0 10px 2px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #B3B3BA;
  }
}

.footer__contacts-phone span:hover {
  color: #F0145A;
}

.footer__contacts-phone p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #46466E;
  font-weight: 600;
  padding: 0 0 6px;
}

@media (min-width: 541px) {
  .footer__contacts-phone p::before {
    display: inline-block;
    content: "";
    margin: 0 10px 3px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #B3B3BA;
  }
}

.footer__copyright {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #B3B3BA;
  font-weight: 500;
}

@media (max-width: 900px) {
  .footer {
    padding: 0 30px 81px;
  }
  .footer__container {
    flex-direction: column;
    align-items: center;
  }
  .footer__container__contacts {
    margin: 0 0 29px;
  }
}

@media (max-width: 540px) {
  .footer {
    padding: 0 20px 118px;
  }
  .footer__container {
    text-align: center;
    padding: 20px 0 0;
  }
  .footer__contacts {
    margin: 0 0 20px;
  }
  .footer__contacts-address, .footer__contacts-phone {
    flex-direction: column;
    align-items: center;
  }
  .footer__contacts-address {
    margin: 0 0 20px;
  }
  .footer__contacts-address address {
    margin: 0 0 10px;
  }
  .footer__contacts-phone a, .footer__contacts-phone p {
    margin: 0 0 20px;
  }
}

.body__overflow-hidden {
  overflow: hidden;
}

.page__wrapper {
  min-width: 320px;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #ffffff;
}

.header__wrapper {
  margin: 0 0 80px;
}

.team-member {
  width: 76%;
  margin: 0 auto 80px;
  display: flex;
  align-items: start;
}

.team-member__img {
  margin: 0 40px 0 0;
  flex-shrink: 0;
  border-radius: 12px;
  overflow: hidden;
}

.team-member__img img {
  transition: 0.8s;
}

.team-member__img img:hover {
  transform: scale(1.1);
}

.team-member__name {
  font-family: 'Open Sans', sans-serif;
  font-size: 39px;
  line-height: 50px;
  color: #F0145A;
  font-weight: 600;
  background: linear-gradient(to right, #F0145A 0%, #ef8080 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 0 10px;
}

.team-member__position {
  margin: 0 0 20px;
}

.team-member__position-item {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #B3B3BA;
  font-weight: 600;
}

.team-member__mail, .team-member__linkdin span {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #24A3FF;
  font-weight: 600;
}

.team-member__mail:hover, .team-member__linkdin span:hover {
  color: #F0145A;
}

.team-member__about {
  border-top: 4px solid #E6E6F0;
  padding: 40px 0 0;
}

.team-member__about h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #323264;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 10px;
}

.team-member__about p {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  line-height: 26px;
  color: #000000;
  font-weight: 500;
}

.team-member__about p:not(p:last-child) {
  margin: 0 0 40px;
}

@media (min-width: 1600px) {
  .main {
    min-height: calc(100vh - 333px);
  }
}

@media (min-height: 1000px) and (max-width: 1100px) {
  .main {
    min-height: calc(100vh - 371px);
  }
}

@media (max-width: 1279px) {
  .team-member {
    width: 100%;
    padding: 0 60px;
  }
}

@media (min-width: 1070px) {
  .team-member__mail::before, .team-member__linkdin span::before {
    display: inline-block;
    content: "";
    margin: 0 10px 2px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #B3B3BA;
  }
}

@media (max-width: 1070px) {
  .team-member__name {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    line-height: 37px;
    color: #F0145A;
    font-weight: 600;
  }
  .team-member__position {
    flex-direction: column;
    display: flex;
  }
  .team-member__position-item, .team-member__mail {
    margin-bottom: 10px;
  }
}

@media (max-width: 1009px) {
  .header__wrapper {
    margin: 0 0 20px;
  }
  .team-member {
    width: 100%;
    flex-direction: column;
    padding: 0 40px;
    margin-bottom: 40px;
  }
  .team-member__img {
    margin: 0 0 20px 0;
  }
  .team-member__about {
    padding: 20px 0 0;
  }
  .team-member__about p:not(p:last-child) {
    margin: 0 0 20px;
  }
}

@media (max-width: 649px) {
  .team-member {
    padding: 0 20px;
  }
}
