.section {
  &__logo {
    display: inline-block;
    width: 92px;
    height: 92px;
    margin: 0 0 20px 0;
    border-radius: 24px;
    overflow: hidden;
    position: relative;

    & img {
      transition: 0.8s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__heading {
    @include font-style(24px, 28px, $ActiveBlue, 500);
    margin: 0 0 15px 0;

    &:hover {
      color: $AccentRed;
    }
  }

  &__heading_red {
    @include font-style(42px, 50px, $AccentRed, 700);
    @include GradientTextRed;
  }

  &__text {
    @include font-style(18px, 26px, $white, 500);
  }
}

@media (max-width: 649px) {
  .section {
    &__wrapper_mobile {
      display: flex;
      align-items: center;

      &-big {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &__logo {
      width: 64px;
      height: 64px;
      margin: 0 10px 10px 0;
      flex-shrink: 0;

      &_big {
        width: 92px;
        height: 92px;
      }
    }

    &__heading {
      @include font-style(18px, 22px, $ActiveBlue, 500);
    }

    &__text {
      @include font-style(15px, 22px, $white, 500);
    }
  }
}
